
/* Estilos de iconos */

ion-icon {
    font-size: 25px;

}

.container-social-links {
  position: sticky;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.icons-social-links {
  float: left;

}